{% extends "base.html" %}

{% block contenido %}

 <div class="loginnn">
        <div class="container">
            <div class="row">
                <div class="col">
                        <h1>Registrarse</h1>
                           <form method="POST">
                                {% csrf_token %}
                                {{form.as_p}}
                                <input type="submit" value="Registrate" class="button">
                               
                           
                           </form> 
                </div>
            </div>
        </div>
</div>




<!--   {% endblock contenido %}
<form method="POST">

    {% csrf_token %}

    {{form.as_p}}

    <button type="submit">
            Enviar
    </button>
    
</form>
    -->
