<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Pagina Principal</title>
		<style type="text/css">
			h1{
				color: blue;
			}
		</style>
	</head>
	<body>
		<h1>USUARIOS</h1>
		<h1>¡HOLA! {{username}}</h1>
		<h5>Lista de Usuarios</h5>
		<ul>
			<li>Usuario 1</li>
			<li>Usuario 2</li>
			{% for a in lista  %}
				<li> {{a}}</li>
			{% endfor %}
		</ul>
		<a href="https://www.google.com"><button>Iniciar Sesion</button></a>

		<script type="text/javascript">
			console.log("Hola mundo");
		</script>
	</body>
</html>