
{%load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Encuesta/login</title>
  <link href={%static '/index.css' %} rel='stylesheet' type='text/css'>
</head>

<body>


<div class="login">
  <h2 class="active"> Registrasre </h2>

  <h2 class="nonactive"> Inscribirse </h2>
  <form>
   
    

    <input type="text" class="text" name="username">
     <span>Nombre usuario</span>

    <br>
    
    <br>

    <input type="password" class="text" name="password">
    <span>Contraseña</span>
    <br>

    <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
    <label for="checkbox-1-1">Recuerdame</label>
    
    <button class="signin">
      Registrarse
    </button>


    <hr>

    <a href="#">Olvido su contraseña?</a>
  </form>

</div>
</body>
</html>

